// ****************
// Color Variables
// ****************
$gray: #535353;
$grayDark: #707070;
$browser-context: 16; // Default
$white: #fff;


// ****************
// BREAKPOINTS
// ****************

$breakpoint-tablet: 900px;
$breakpoint-mobile: 440px;

