*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaWorld-Regular";
  // background: url("/img/bg-1.jpg") no-repeat;
  // background-size: cover;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
ol {
  margin: 0;
  padding: 0;
}
